<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<style>
    a:hover {
        background-color: black;
        box-shadow: 0px 15px 20px rgba(72, 57, 42);
        color: #fff;
        transform: translateY(-1px);
    }

    a {
        padding: 1.3em 3em;
        font-size: 12px;
        text-transform: uppercase;
        letter-spacing: 2.5px;
        font-weight: 500;
        color: #000;
        background-color: #fff;
        border: none;
        border-radius: 45px;
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease 0s;
        cursor: pointer;
        outline: none;
        margin-top: 3em;
        margin-inline: 3.5em;


    }
</style>

<body>
    <div class="container p-5">
        <div class="card">
            <div class="card-body">
                <h1>Welcome back, <%= name %>
                </h1>
                <label><a href="/logout" class="  btn-danger">Logout</a></label>

            </div>
        </div>
    </div>
</body>

</html>